.btn-class {
    padding: 0px 10px;
    margin: 8px;
}

.sortable-placeholder {
    background-color: #f0f0f0;
    border: 1px dashed #ddd;
    height: 40px;
    margin-bottom: 5px;
}

.delete-task-btn:hover {
    color: rgb(4, 216, 248);
}
.border-gradient {
    font-size: 16px;
    border: 3px solid transparent;
    border-radius: 5px;
    background: white;
    background: linear-gradient(45deg, #fafaf5,rgb(4, 216, 248),#fafaf5);
    cursor: pointer;
    transition: color 0.3s ease;
    color: black;
}
.image-text {
    font-weight: bold;
   color: #fafaf5;
    display: flex;
    justify-content:end;
  }
.text-red{
    color: rgb(4, 216, 248);
}

  